{% extends "horizon/common/base.html" %}

{% block title %}Recent GitHub Commits{% endblock %}

{% load static %}  
<link rel="stylesheet" type="text/css" href="{% static 'custom_dashboard_plugin/style.css' %}">

{% block main %}
  <h2>Recent GitHub Commits</h2>
  {% if error %}
    <p>Error: {{ error }}</p>
  {% else %}
    <ul>
      {% for commit in commits %}
        <li>
          <strong>{{ commit.commit.message }}</strong><br>
          <em>{{ commit.commit.author.name }}</em> - {{ commit.commit.author.date }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
